<ion-header  [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title >
       Current Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" [value]="gameType">
      <ion-segment-button value="multiple">
        <ion-icon name="game-controller-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="single">
        <ion-icon name="game-controller-outline"></ion-icon>

      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-list *ngIf="gameType === 'multiple'">
    <ion-list-header> Current Game </ion-list-header>

    <!-- list the current game -->

    
  </ion-list>

  


</ion-content>
