<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Current Game </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)"  [value]="gameType">
      <ion-segment-button value="multiple" layout="icon-start">
        <ion-label>Multiple</ion-label>
        <ion-icon name="game-controller-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="single" layout="icon-start">
        <ion-label>Single</ion-label>
        <ion-icon name="game-controller-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-list *ngIf="gameType === 'multiple'">
    <form [formGroup]="gameForm" class="game-form">
      <ion-card>
        <ion-list>
          <ion-item>
            <ion-label position="fixed">Name</ion-label>

            <ion-select
              formControlName="name"
              placeholder="Select Game"
              cancelText="Dismiss"
            >
              <ion-select-option [value]="game" *ngFor="let game of allGames"
                >{{game.name}} ({{game.time}})</ion-select-option
              >
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="fixed">Result</ion-label>
            <ion-input
              type="number"
              placeholder="Enter Result"
              formControlName="result"
            ></ion-input>
          </ion-item>
        </ion-list>

        <ion-row>
          <ion-button
            class="game-button"
            (click)="addCurrentGame()"
            [disabled]="!gameForm.valid"
          >
            Update Current Game
          </ion-button>
        </ion-row>
      </ion-card>
    </form>

    <ion-row *ngIf="currentGames?.name; else noMultipleGame">
      <ion-col size="12">
        <div class="game_data">
          <span class="name">{{currentGames.name}} ({{currentGames.time}})</span>

          <strong class="result" *ngIf="currentGames?.result">
            {{currentGames.result }}
          </strong>
          <strong class="result" *ngIf="!currentGames?.result"> WAIT </strong>
        </div>
      </ion-col>
    </ion-row>
    <ng-template #noMultipleGame>
      <ion-row>
        <ion-label class="no-data"> No Current Game </ion-label>
      </ion-row>
    </ng-template>
  </ion-list>
  <ion-list *ngIf="gameType === 'single'">
    <form [formGroup]="gameForm" class="game-form">
      <ion-card>
        <ion-list>
          <ion-item>
            <ion-label position="fixed">Name</ion-label>

            <ion-select
              (ionChange)="showSlotsOfTime()"
              formControlName="name"
              placeholder="Select Game"
              cancelText="Dismiss"
            >
              <ion-select-option [value]="game" *ngFor="let game of allGames"
                >{{game.name}}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item *ngIf="showSlots === true">
            <ion-label position="fixed">Slot time</ion-label>
            <ion-select
              formControlName="time"
              placeholder="Select Time Slot"
              cancelText="Dismiss"
            >
              <ion-select-option *ngFor="let time of timeSlots" [value]="time"
                >{{time}}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item *ngIf="showSlots === true">
            <ion-item>
              <ion-label position="fixed">Result</ion-label>
              <ion-input
                type="number"
                placeholder="Enter Result"
                formControlName="result"
              ></ion-input>
            </ion-item>
          </ion-item>
        </ion-list>

        <ion-row>
          <ion-button
            class="game-button"
            (click)="addCurrentSingleGame()"
            [disabled]="!gameForm.valid"
          >
            Update Current Game
            <ion-icon slot="end" name="save"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-card>
    </form>

    <ion-row *ngIf="currentGames?.length > 0; else noSingleGame">
      <ion-col size="12" *ngFor="let game of currentGames">
        <div class="game_data">
          <span class="name">{{game.name}}</span>
          <span class="time">({{game.time}})</span>
          <strong class="result" *ngIf="game?.result">
            {{game.result }}
          </strong>
          <strong class="result" *ngIf="!game?.result"> WAIT </strong>
        </div>
      </ion-col>
    </ion-row>

    <ng-template #noSingleGame>
      <ion-row>
        <ion-label class="no-data"> No Current Game </ion-label>
      </ion-row>
    </ng-template>
  </ion-list>
</ion-content>
