<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        (click)="dismiss()"
        defaultHref="tabs/games"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{operationType | titlecase}} Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="game">
  <ng-container *ngIf="gameType === 'multiple'">
    <form [formGroup]="gameForm" class="game-form">
      <ion-card>
        <ion-list>
          <ion-item>
            <ion-label position="fixed">Name</ion-label>
            <ion-input
              type="text"
              placeholder="Enter game name"
              formControlName="name"
              [disabled]="type === 'edit'"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">Time</ion-label>
            <ng-container *ngIf="type === 'edit'">
              <ion-input
                [disabled]="type === 'edit'"
                type="text"
                placeholder="time"
                formControlName="time"
              ></ion-input>
            </ng-container>

            <ion-datetime
              (ionChange)="changed($event)"
              *ngIf="type === 'add'"
              display-format="hh:mm A"
              picker-format="hh:mm A"
              placeholder="Enter Time"
              formControlName="time"
            ></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">Result</ion-label>
            <ion-input
              type="number"
              placeholder="Enter Result"
              formControlName="result"
            ></ion-input>
          </ion-item>
        </ion-list>

        <ion-row>
          <ion-button
            class="game-button"
            (click)="saveGameDetails()"
            [disabled]="!gameForm.valid"
          >
            {{type | titlecase}} Game
            <ion-icon slot="end" name="save"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-card>
    </form>
  </ng-container>
  <ng-container *ngIf="gameType === 'single'">
    <form [formGroup]="gameForm" class="game-form" *ngIf="operationType === 'add'" >
      <ion-card>
        <ion-list>
          <ion-item>
            <ion-label position="fixed">Name</ion-label>
            <ion-input
              type="text"
              placeholder="Enter game name"
              formControlName="name"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">Slot</ion-label>
            <ion-select
              (ionChange)="showSlotsOfTime()"
              formControlName="slot"
              placeholder="Select Time Interval"
              cancelText="Dismiss" 
              
            >
              <ion-select-option [value]="15" >15</ion-select-option>
              <ion-select-option [value]="30" >30</ion-select-option>
              
            </ion-select>
          </ion-item>
          <ion-item *ngIf="showSlots === true">
            <ion-label position="fixed">Slot time</ion-label>
            <ion-select
              formControlName="time"
              placeholder="Select Time Slot"
              cancelText="Dismiss" 
              
            >
              <ion-select-option *ngFor="let time of timeSlots" [value]="time" >{{time}}</ion-select-option>
              
            </ion-select>
          </ion-item>
          <ion-item *ngIf="showSlots === true">
            <ion-item>
              <ion-label position="fixed">Result</ion-label>
              <ion-input
                type="number"
                placeholder="Enter Result"
                formControlName="result"
              ></ion-input>
            </ion-item>
          </ion-item>
        </ion-list>

        <ion-row>
          <ion-button
            class="game-button"
            (click)="addSingleGame()"
            [disabled]="!gameForm.valid"
          >
            {{operationType || titlecase}} Game
            <ion-icon slot="end" name="save"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-card>
    </form>

    <form [formGroup]="gameForm" class="game-form" *ngIf="operationType === 'edit'" >
      <ion-card>
        <ion-list>
          <ion-item>
            <ion-label position="fixed">Name</ion-label>
            <ion-input
              type="text"
              disabled
              placeholder="Enter game name"
              formControlName="name"
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="showSlots === true">
            <ion-label position="fixed">Slot time</ion-label>
            <ion-select
              formControlName="time"
              placeholder="Select Time Slot"
              cancelText="Dismiss" 
              
            >
              <ion-select-option *ngFor="let time of timeSlots" [value]="time" >{{time}}</ion-select-option>
              
            </ion-select>
          </ion-item>
          <ion-item *ngIf="showSlots === true">
            <ion-item>
              <ion-label position="fixed">Result</ion-label>
              <ion-input
                type="number"
                placeholder="Enter Result"
                formControlName="result"
              ></ion-input>
            </ion-item>
          </ion-item>
        </ion-list>

        <ion-row>
          <ion-button
            class="game-button"
            (click)="updateSingleGame()"
            [disabled]="!gameForm.valid"
          >
            {{operationType}} Game
            <ion-icon slot="end" name="save"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-card>
    </form>
  
  </ng-container>
</ion-content>
