<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> All Games </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Segment in a toolbar -->
  <ion-toolbar >
    <ion-segment (ionChange)="segmentChanged($event)"  [value]="gameType">
      <ion-segment-button value="multiple">
        <ion-icon name="game-controller-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="single">
        <ion-icon name="game-controller-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-list lines="none" *ngIf="gameType === 'multiple'">
      <ion-label>Multiple</ion-label>
  </ion-list>
  <ion-list lines="none" *ngIf="gameType === 'single'">
      <ion-label>Single</ion-label>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addGame()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
